*, picture { margin: 0; padding: 0; box-sizing: border-box; }
.page { width: 100%; position: relative; }

.background-image .cut-out-section { height: 200vh; }
.sticky-slideshow .cut-out-section { height: 125vh; }
.cut-out-section { width: 100%; position:relative; clip-path: inset(0 0 0 0) }
.cut-out-section picture { width: 100%; height: 100%; display: block; }
.cut-out-section img { width: 100%; height: 100%; position: fixed; top: 0; left: 0; object-fit: cover;}
.cut-out-section .overlay { width: 100%; height: 100%; position: absolute; top: 0; background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 85%); }

.spacer-section { width: 100%; height: 80vh; }

/* Navigation styles */
header { position: fixed; top: 0; width: 100%; background: rgba(255, 255, 255, 0.8); display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding: 10px 20px; z-index: 100; }
nav { font-family: 'Arial', sans-serif; display:flex; flex-direction: row; gap: 15px; }
/* Footer styles */
footer { width: 100%; padding: 20px; text-align: center; background: #f8f8f8; font-family: 'Arial', sans-serif; font-size: 14px; color: #555; }